* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.open-sans-p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p {
  color: #6d0016;
  font-family: ".open-sans-p", sans-serif;
}

h3 {
  color: #6d0016;
  font-family: "Great Vibes", cursive;
  font-size: 250%;
}
